<%= form_for(url) do |f| %>
  <% if url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if url.entity != nil %>
    <div class="field">
      <%= f.label :entity_type %>
      <%= f.hidden_field :entity %>
      <%= url.entity %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :entity %>
      <%= f.text_field :entity %>
    </div>
  <% end %>

  <% if url.entity_id != nil %>
    <div class="field">
      <%= f.label :entity_id %>
      <%= f.hidden_field :entity_id %>
      <%= url.entity_name %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :entity_id %>
      <%= f.text_field :entity_id %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :details %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :url_type %>
    <%= f.collection_select(:url_type, @url_types, :entry_name, :entry_name, {selected: url.url_type, prompt: true}) %></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
