<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @url.entity %>
</p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>Url type:</strong>
  <%= @url.url_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @url.details %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<% if @url.entity == 'course' %>
	<%= link_to 'Back', course_path(id: @url.entity_id) %>
<% else %>
	<%= link_to 'Back', urls_path %>
<% end %>
