<p id="notice"><%= notice %></p>

<h2>
  Member: <%= @member.name %>
  <% if @member.is_lead %>
   <strong>(Lead)</strong>
  <% end %>
</h2>

<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @member.stream %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @member.manager %>
</p>

<%= link_to 'Back', members_path %>
<%= link_to 'Edit', edit_member_path(@member) %> 
<%= link_to 'Join Team', new_teammember_path(:member_id => @member.id) %>
<%= link_to 'Suggest Course', new_course_path(:member_id => @member.id) %>
<%= link_to 'Bookmark Topic', new_interest_path(:member_id => @member.id) %>
<%= link_to 'Start Course', new_subscription_path(:member_id => @member.id) %>

<h2>Subscriptions (<%= @completed_credits %> / <%= @total_credits %> credits)</h2>
<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Credits</th>
      <th>Status</th>
      <th>Rating</th>
      <th>Comment</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= link_to subscription.course.title, subscription.course %></td>
        <td><%= subscription.course.credits %></td>
        <td><%= subscription.status %></td>
        <td><%= subscription.rating %></td>
        <td><description><%= subscription.comment %></description></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td><%= button_to 'Remove', {:controller => :subscriptions, action: :destroy, id: subscription.id}, onclick: 'return confirm("Are you sure?")', :method => :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Teams</h2>
<table>
  <thead>
    <tr>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @teammembers.each do |teammember| %>
      <tr>
        <td><%= link_to teammember.team.name, team_path(teammember.team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Courses recommended</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Topic</th>
      <th>Course type</th>
      <th>Credits</th>
      <th>University</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course_path(course) %></td>
        <td><%= course.topic.name %></td>
        <td><%= course.course_type %></td>
        <td><%= course.credits %></td>
        <td><%= course.university %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Topics of interest</h2>

<table>
  <thead>
    <tr>
      <th>Member</th>
    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= link_to interest.topic.name, interest.topic %></td> 
        <td><%= button_to 'Remove', {:controller => :interests, action: :destroy, id: interest.id},  onclick: 'return confirm("Are you sure?")', :method => :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

